<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' type="text/css" href='/css/style.css'>
</head>

<body>
  <header>
    <div class="header">
      <nav class="menu">
        <a href="/lang/es">
          <img class="flag" src="es.png" alt="Español">
        </a>
        <a href="/lang/en">
          <img class="flag" src="en.png" alt="English">
        </a>
        <a href="/">
          <%= __('Home') %>
        </a>
      </nav>
    </div>
  </header>
  <h1>
    <%= title %>
      </a>
  </h1>